# Template of the answer file for setup-alpine script
# If you don't want to use a certain option, then comment it out

# Use $keymap layout with $keymapvar variant
KEYMAPOPTS='{{ keymap }} {{ keymapvar }}'

# Set hostname
HOSTNAMEOPTS='-n {{ hostname }}'

# Contents of /etc/network/interfaces
INTERFACESOPTS='auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp
    hostname {{ hostname }}
'

# Set timezone
TIMEZONEOPTS='-z {{ timezone }}'

# set http/ftp proxy
PROXYOPTS="none"

# Add the first mirror
APKREPOSOPTS='-1'

# Install Openssh
SSHDOPTS='-c {{ sshd }}'

# Select NTP client
NTPOPTS='-c {{ ntp_client }}'

